@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroButton {
    @apply px-6 py-1 md:py-2 border border-[#FBC101] bg-[#FBC101] rounded-full uppercase text-sm tracking-widest text-gray-800 font-bold transition-all hover:border-[#F7AB0A]/40 hover:scale-110 m-2
  }
  .contactInput {
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-8 py-1 md:py-4 md:px-11 border-[#242424] text-gray-500 placeholder-gray-500 transition-all focus:border-[#F7AB0A]/40 focus:text-[#F7AB0A]/40 hover:border-[#F7AB0A]/40
  }
}

.hoverSocialBtn:hover {
  transform: scale(1.1);
}

.roundedImg {
  border-radius: 50%;
}

.socialUrlLink {
  padding-top: 4%;
}

.socialUrlLink:hover {
  text-decoration: underline;
}